/* Reset some basic styling */
body, h1, p, ul, li, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Helvetica W01 Light", Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
}

/* Container for content centering */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-right: 110px;
  margin-left: 100px;
}

header .social-icons {
  display: flex;
  gap: 10px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 15px;
  transition: color 0.3s ease;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #27D3B4; /* Highlight color on hover */
}

/* Main content styling - Two Column Layout */
main .hero {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin: 5px 25px 0 0;
}

/* Overlay text styling */
main .hero .overlay-text {
  font-family: "Raleway", "Helvetica W01 Light", Helvetica, sans-serif;
  font-size: 80px;
  position: absolute;
  top: 52%;
  left: 11%;
  z-index: 2; /* Ensures this text is on top of the image */
  color: #222; 
  line-height: 1;
}

main .hero .overlay-text p {
  letter-spacing: 5px;
  background: #FFF;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  padding-top: 5px;
  vertical-align: baseline;
  width: fit-content;
  height: fit-content;
  font-weight: 700;
}

/* Band Name styling */
main .hero .band-name {
  font-family: "Marzo W00 Regular", Helvetica, sans-serif;
  font-size: 33px;
  font-weight: 700;
  position: absolute;
  top: 31%;
  left: 10%;
  z-index: 3; /* Ensures this text is on top of everything */
  color: #222; /* Color similar to the original */
  line-height: 1.2;
  letter-spacing: 6px;
}

main .hero .band-name span {
  display: block; /* Forces each word onto a new line */
}


main .hero img {
  width: 910px;
  height: 685px;
  z-index: 1;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .container {
    padding: 10px;
  }

  header nav ul {
    gap: 10px;
  }

  main .hero {
    flex-direction: column;
  }

  main .hero img {
    width: 100%;
    left: 0;
    position: static;
  }

  main .hero .overlay-text {
    z-index: 2;
    padding: 20px;
    text-align: center;
  }

  main .hero .overlay-text h1 {
    font-size: 2.5em;
  }

  main .hero .overlay-text p {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header .social-icons {
    margin-bottom: 10px;
  }

  main .hero .overlay-text h1 {
    font-size: 2em;
  }

  main .hero .overlay-text p {
    font-size: 1.2em;
  }
}
